.anchorjs-link {
	opacity: 0;
	text-decoration: none !important;
	font-size: 120%;
}
*:hover > .anchorjs-link,
.anchorjs-link:focus  {
	/* To fade links as they appear, change transition-property from 'color' to 'all' */
	opacity: 1;
	transition: color .16s linear;
}

.anchorjs-link:link    { color: $color-text; }
.anchorjs-link:visited { color: $color-text; }
.anchorjs-link:hover   { color: $color-highlight-2; }
.anchorjs-link:active  { color: $color-highlight-2; }
