[data-content='breadcrumbs'] {
	position: absolute;

	@media (min-width: #{$computer-min-width}) {
		top: 20px;
		font-size: 0.9rem;
	}

	@media (max-width: #{$mobile-max-width}) {
		top: 40px;
		font-size: 0.65rem;
	}
}
