[data-content='default'] {
	$padding: 16px;

	position: relative;
	padding: $padding;
	color: $color-text;
	width: 100%;
	overflow: hidden;

	@media (min-width: #{$computer-min-width}) {
		margin: 4rem auto;
		padding-top: $padding + $header-height-computer;
		width: 90%;
		max-width: 1024px;
		font-size: 1rem;
		text-align: left;
	}

	@media (max-width: #{$mobile-max-width}) {
		margin: 2.5rem auto;
		padding-top: $padding + $header-height-mobile;
		width: 100%;
		font-size: 0.9rem;
		text-align: left;
	}

	// Fix fixed header size for anchor links
	h2:before, h3:before, h4:before {
		content: '';
		display: block;
		visibility: hidden;

		@media (min-width: #{$computer-min-width}) {
			height: $header-height-computer * 1.3;
			margin-top: -$header-height-computer * 1.3;
		}

		@media (max-width: #{$mobile-max-width}) {
			height: $header-height-mobile * 1.3;
			margin-top: -$header-height-mobile * 1.3;
		}
	}

	h1 {
		font-family: 'Poiret One';
		color: $color-white-2;
		text-align: left;
		margin-bottom: 1em;
		clear: both;
		overflow-wrap: break-word;

		@media (min-width: #{$computer-min-width}) {
			font-size: 2.5em;
		}

		@media (max-width: #{$mobile-max-width}) {
			font-size: 2em;
		}
	}

	h2 {
		color: $color-white-2;
		text-align: left;
		border-bottom: 4px solid rgba($color-white-2, 0.15);
		margin-top: 2.5em;
		margin-bottom: 1.5em;
		clear: both;
		overflow-wrap: break-word;

		@media (min-width: #{$computer-min-width}) {
			font-size: 1.8em;
			line-height: 1.8em;
		}

		@media (max-width: #{$mobile-max-width}) {
			font-size: 1.5em;
			line-height: 1.5em;
		}
	}

	h3 {
		font-size: 1.4em;
		line-height: 1.5em;
		color: $color-white-2;
		border-bottom: 1px solid rgba($color-highlight-2, 0.75);
		text-align: left;
		margin-top: 2.5em;
		margin-bottom: 1.5em;
		clear: both;
		overflow-wrap: break-word;

		&.h3color {
			color: $color-highlight-2;
		}

		&.no-border {
			border-bottom: none;
		}
	}

	h4 {
		font-size: 1.25em;
		color: $color-white-2;
		text-align: left;
		margin-top: 2.5em;
		margin-bottom: 1.5em;
		clear: both;
		overflow-wrap: break-word;

		&.code {
			font-size: 1em;
			font-family: 'Monaco', 'Andale Mono', monospace;
			text-overflow: ellipsis;

			@media (min-width: #{$computer-min-width}) {
				white-space: nowrap;
			}
		}
	}

	h5 {
		font-size: 1.1em;
		font-weight: 400;
		color: $color-text;
		text-align: left;
		margin-top: 1.5em;
		margin-bottom: 1em;
		clear: both;
		overflow-wrap: break-word;
	}

	p {
		line-height: 1.5em;
		margin-top: 0.75em;
		margin-bottom: 0.75em;
	}

	ul {
		line-height: 1.5em;
		margin-left: 1.5em;
		margin-top: 1em;
		margin-bottom: 1em;
		list-style-type: disc;

		@media (max-width: #{$mobile-max-width}) {
			text-align: left;
		}

		li ul {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	blockquote {
		border-left: 6px solid $color-dark-2;
		padding-left: 8px;

		p, ul {
			margin-top: 0em;
			margin-bottom: 0em;
		}
	}

	a {
		text-decoration: none;
		color: $color-highlight-2;

		&:hover {
			text-decoration: underline;
		}

		&.inline-icon {
			margin: 0 2px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			img {
				width: 24px;
				height: 24px;
				border-radius: 4px;
				opacity: 0.75;
				transition-property: opacity;
				transition-duration: 0.1s;

				&:hover {
					opacity: 1;
				}
			}
		}

		> code {
			color: $color-white-2 !important;
		}
	}

	strong {
		font-weight: 400;
		color: $color-white-2;
	}

	em {
		font-style: italic;
	}

	// @import a theme for rouge.
	@import 'rouge_theme';

	div.highlighter-rouge {
		margin: 2em auto;

		@media (min-width: #{$computer-min-width}) {
			width: 92%;
		}

		@media (max-width: #{$mobile-max-width}) {
			width: 100%;
		}
	}

	:not(pre) > code {
		font-family: 'Monaco', 'Andale Mono', monospace;
		font-size: 0.85em;
		color: darken($color-white-2, 10%);
		white-space: pre;
		background-color: rgba(#fff, 0.08);
		border-radius: 4px;
		padding: 1px 2px;
	}

	section {
		margin: 0;

		@media (min-width: #{$computer-min-width}) {
			padding-left: 1.5em;
		}

		@media (max-width: #{$mobile-max-width}) {
			padding-left: 0.5em;
		}
	}

	div.note {
		margin: 2em auto;
		padding: 1em;
		font-size: 0.95em;
		background-color: rgba(#000, 0.2);
		border-radius: 4px;
		border: 1px solid rgba($color-white-2, 0.1);

		&.warn {
			border-color: rgba(#e47474, 0.5);
		}

		@media (min-width: #{$computer-min-width}) {
			width: 92%;
		}

		@media (max-width: #{$mobile-max-width}) {
			width: 100%;
		}

		> *:first-child {
			margin-top: 0 !important;
		}

		> *:last-child {
			margin-bottom: 0 !important;
		}
	}

	.table-wrapper {
		margin: 1em 0;
		overflow: auto;

		table {
			width: 100%;
			margin: 0 auto;
			border-collapse: collapse;
			background-color: rgba(#fff, 0.025);
			font-size: 0.9em;

			th {
				padding: 0.75em;
				text-align: center;
				background-color: rgba($color-dark, 0.85);
			}

			td {
				padding: 0.75em;
				line-height: 1.5em;
				text-align: left;
			}

			th, td {
				border: 1px solid rgba($color-white-2, 0.2);
			}
		}

		&.L1-small {
			th:nth-child(1),
			td:nth-child(1) {
				min-width: 180px;
			}
		}

		&.L2 {
			th:nth-child(2),
			td:nth-child(2) {
				min-width: 300px;
			}
		}

		&.L3 {
			th:nth-child(3),
			td:nth-child(3) {
				min-width: 300px;
			}
		}

		&.L4 {
			th:nth-child(4),
			td:nth-child(4) {
				min-width: 300px;
			}
		}

		&.L5 {
			th:nth-child(5),
			td:nth-child(5) {
				min-width: 200px;
			}
		}
	}

	.computer-icon-text-columns {
		@media (min-width: #{$computer-min-width}) {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			> .icon {
				flex: 0 0 auto;

				* {
					margin-top: 0 !important;
					margin-bottom: 0 !important;
					float: none !important;
				}
			}

			> .text {
				flex: 100 100 auto;
			}
		}
	}

	img {
		vertical-align: bottom;

		&.photo {
			height: 215px;
			width: 215px;
			object-fit: cover;
		}

		&.round {
			border-radius: 50%;
		}

		&.left {
			@media (min-width: #{$computer-min-width}) {
				float: left;
				margin: 0 2em 1em 0;
			}

			@media (max-width: #{$mobile-max-width}) {
				display: block;
				margin: 2em auto;
			}
		}

		&.logo {
			width: auto;
			height: 64px;
			margin-top: 1.5em;
			margin-bottom: 1.5em;

			* {
				float: none !important;
			}
		}

		&.full-width {
			width: 100%;
			height: auto;
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}

	// Convert the <hr> (line) into a vertical space.
	hr {
		margin: 1rem 0 !important;
		clear: both;
		visibility: hidden;
	}

	// Remove margin-top for first sibling elements.
	h1 + h2, h1 + h3, h1 + p, h1 + ul, h1 + pre,
	h2 + h3, h2 + h4, h2 + p, h2 + ul, h2 + pre,
	h3 + h4, h3 + p, h3 + ul, h3 + pre,
	h4 + h5, h4 + p, h4 + ul, h4 + pre,
	ul + p,
	p + ul {
		margin-top: 0 !important;
	}
	section > *:last-child {
		margin-bottom: 0 !important;
	}

	.checkbox {
		display: inline-block;
		width: 18px;
		height: 18px;
		margin: 0 4px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		&.on {
			background-image: url('/images/checkbox-on.svg');
		}

		&:not(.on) {
			background-image: url('/images/checkbox-off-white.svg');
			opacity: 0.75;
		}
	}
}
