[data-content='home'] {
	display: flex;
	flex-direction: column;

	> .banner {
		@media (min-width: #{$computer-min-width}) {
			overflow: hidden;
			flex: 0 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 3rem 0 4rem 20%;
			width: 500px;
			font-size: 4.5rem;
			transition-property: opacity, transform;
			transition-delay: 0.75s;
			transition-duration: 1s;
			transform-origin: 30%;
			transform: perspective(250px);

			&.loading {
				opacity: 0;
				transform: perspective(250px) rotateY(90deg) rotateX(5deg);
			}
		}

		@media (max-width: #{$mobile-max-width}) {
			flex: 0 0 auto;
			margin: 3rem 0;
			width: 100%;
			padding: 0 5%;
			font-size: 3.5rem;
		}

		> h1 {
			@include mediasoup-logo();
			margin-bottom: 1rem;
		}

		> p.description {
			margin: 0.1em 0 0.1em 2px;
			font-family: 'Poiret One';
			line-height: 1.5em;

			@media (min-width: #{$computer-min-width}) {
				color: rgba(#fff, 0.35);
				font-size: 0.35em;
			}

			@media (max-width: #{$mobile-max-width}) {
				color: rgba(#fff, 0.5);
				font-size: 0.35em;
			}
		}
	}

	> .menu-button {
		z-index: 2;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;

		@media (min-width: #{$computer-min-width}) {
			position: absolute;
			top: 2rem;
			right: 4%;
			width: 38px;
			height: 38px;
			background-size: contain;
			background-image: url('/images/menu-white.svg');
			opacity: 0.85;
			border-radius: 5px;
			transition-property: transform;
			transition-duration: .75s;

			&:hover {
				transition-duration: .25s;
				opacity: 1;
			}

			&.loading {
				transform: scale(0);
			}

			&.loaded {
				transition-duration: 0.25s;
			}

			&.hidden {
				transform: scale(0);
			}
		}

		@media (max-width: #{$mobile-max-width}) {
			position: absolute;
			top: 12px;
			right: 16px;
			width: 32px;
			height: 32px;
			background-size: contain;
			background-image: url('/images/menu-white.svg');
			opacity: 0.9;
			transition-property: opacity;
			transition-duration: .25s;

			&.hidden {
				opacity: 0;
			}
		}
	}

	> .install {
		flex: 0 0 auto;
		overflow: hidden;

		@media (min-width: #{$computer-min-width}) {
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-bottom: 2rem;
		}

		@media (max-width: #{$mobile-max-width}) {
			margin-bottom: 2rem;
		}

		> .content {
			display: block;
			width: 100%;
			padding: 10px 5%;
			background: rgba(#fff, 0.05);
			background: radial-gradient(circle, rgba(#fff, 0.12) 0%, rgba($color-dark-2, 0.15) 100%);
			color: rgba($color-white-2, 0.6);

			&.loading {
				opacity: 0;
				transform: scale(1.5);
				color: #fff;
			}

			@media (min-width: #{$computer-min-width}) {
				display: flex;
				flex-direction: row;
				justify-content: center;
				transition-property: opacity, transform background-color, color;
				transition-delay: 1.5s;
				transition-duration: 1s;
			}

			@media (max-width: #{$mobile-max-width}) {
				transition-property: opacity, transform background-color, color;
				transition-delay: 0.25s;
				transition-duration: 1s;
			}

			> .code-container {
				margin: auto;

				code {
					display: block;
					text-align: left;
					font-family: 'Monaco', 'Andale Mono', monospace;
					white-space: pre;
					color: rgba($color-white-2, 0.6);
					text-shadow: inherit;

					@media (min-width: #{$computer-min-width}) {
						font-size: 0.9em;
						line-height: 1.8em;
					}

					@media (max-width: #{$mobile-max-width}) {
						font-size: 0.8em;
						line-height: 1.8em;
					}

					span.no-select {
						color: $color-white-2;
						user-select: none;
					}
				}

				p {
					margin: 0.25em 0;
					font-size: 0.85em;
				}
			}
		}
	}

	> .diagram {
		height: 200px;
		background-image: url('/images/diagram.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		@media (min-width: #{$computer-min-width}) {
			position: absolute;
			z-index: -1;
			top: -1rem;
			right: 15%;
			height: 400px;
			width: 400px;
			opacity: 0.5;
			transition-property: opacity, transform;
			transition-delay: 1s;
			transition-duration: 1.5s;
			transform: rotate(-20deg);

			&.loading {
				opacity: 0;
				transform: rotate(0deg);
			}
		}

		@media (max-width: #{$mobile-max-width}) {
			display: none;
		}
	}

	> .github-stars {
		height: 20px;
		flex: 100 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 2rem;
	}

	> .boxes {
		flex: 100 0 auto;

		@media (min-width: #{$computer-min-width}) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			min-width: 1024px;
			max-width: 1280px;
			margin: 0 auto;
			padding: 0 6%;
			font-size: 1rem;
		}

		@media (max-width: #{$mobile-max-width}) {
			width: 100%;
			padding: 0 10px;
			font-size: 0.9rem;
		}

		> .wrapper {
			@media (min-width: #{$computer-min-width}) {
				display: flex;
				flex-direction: row;
				justify-content: center;
				transition-delay: 1s;
				transition-duration: 1s;
			}

			@media (max-width: #{$mobile-max-width}) {
				margin-bottom: 3rem;
			}

			.box {
				background-color: rgba(#fff, 0.02);
				border: 1px solid rgba(#fff, 0.1);
				border-radius: 6px;

				@media (min-width: #{$computer-min-width}) {
					flex: 0 10 auto;
					width: 34%;
					margin: 0 6px;
					padding: 1.5rem 1.75rem 1.25rem;
					transition-property: opacity;
					transition-duration: 1s;

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					&.loading {
						opacity: 0;
					}
				}

				@media (max-width: #{$mobile-max-width}) {
					margin: 10px  0;
					padding: 1.5rem 1.5rem 1.5rem;
				}

				h3 {
					line-height: 1.3em;
					margin-bottom: 0.85em;
					color: $color-white-2;
					font-weight: 400;

					@media (min-width: #{$computer-min-width}) {
						font-size: 1.1em;
						padding: 0.4em 0;
					}

					@media (max-width: #{$mobile-max-width}) {
						font-size: 1.4em;
						padding: 0.5em 0;
					}
				}

				p {
					line-height: 1.4em;
					color: rgba(#fff, 0.40);
					font-weight: 400;
					margin-bottom: 1em;

					@media (min-width: #{$computer-min-width}) {
						font-size: 0.9em;
					}

					@media (max-width: #{$mobile-max-width}) {
						font-size: 1em;
					}

					a {
						transition-duration: 0.25s;
						text-decoration: none;
						color: $color-dark;
						border-bottom: 1px solid transparent;

						&:hover {
							color: $color-highlight-1;
							border-color: $color-highlight-1;
						}
					}
				}
			}
		}
	}

	// > .shields {
	// 	flex: 0 0 auto;
	// 	display: flex;
	// 	min-height: 20px;
	// 	margin: 2rem 0;
	// 	opacity: 0.65;

	// 	@media (min-width: #{$computer-min-width}) {
	// 		flex-direction: row;
	// 		justify-content: center;
	// 		transition-property: transform;
	// 		transition-duration: 0.25s;

	// 		&.loading {
	// 			transform: scale(0);
	// 		}
	// 	}

	// 	@media (max-width: #{$mobile-max-width}) {
	// 		flex-direction: column;
	// 		justify-content: center;
	// 		align-items: center;
	// 	}

	// 	> a.shield {
	// 		display: inline-block;
	// 		margin: 2px 4px;
	// 	}
	// }

	> .versions {
		flex: 0 0 auto;
		display: flex;
		margin: 2rem 0;

		@media (min-width: #{$computer-min-width}) {
			flex-direction: row;
			justify-content: center;
			transition-property: transform;
			transition-duration: 0.25s;

			&.loading {
				transform: scale(0);
			}
		}

		@media (max-width: #{$mobile-max-width}) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		> a.version {
			display: inline-block;
			margin: 2px 4px;
			text-decoration: none;
			background-color: $color-dark-2;
			border-radius: 4px;
			overflow: hidden;
			// Trick to remove horizotal space between inline-block elements.
			font-size: 0;

			&:hover {
				background-color: lighten($color-dark-2, 5%);
			}

			> span {
				font-size: 0.75rem;
				line-height: 1.5rem;
				padding: 6px;

				&.name {
					padding-right: 3px;
					color: rgba($color-white-2, 0.75);
				}

				&.version {
					padding-left: 3px;
					@include mediasoup-gradient();
				}
			}
		}
	}
}
