> .menu {
	$width: 250px;

	position: fixed;
	z-index: 100;
	top: 0;
	// Hide the lateral shadow.
	right: -$width - 5px;
	width: $width;
	// Trick to avoid menu flash effect in mobile.
	height: 110%;
	padding-bottom: 10%;
	overflow: auto;
	overscroll-behavior: contain;
	background-color: lighten($color-white-2, 15%);
	box-shadow: -3px 0px 8px 0px rgba(#fff, 0.25);
	transition-property: right;
	transition-duration: 0.15s;

	&.visible {
		right: 0;

		> .container > .close {
			transition-delay: 0.25s;
			transform: scale(1);
		}
	}

	> .container {
		@media (min-width: #{$computer-min-width}) {
			padding: 64px 8px 8px 8px;
		}

		@media (max-width: #{$mobile-max-width}) {
			padding: 48px 6px 6px 6px;
		}

		> .close {
			position: absolute;
			top: 12px;
			right: 16px;
			height: 32px;
			width: 32px;
			background-size: 24px;
			background-image: url('/images/close.svg');
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			opacity: 0.9;
			transform: scale(0);
			transition-property: opacity, transform;
			transition-duration: 0.25s;
			-webkit-tap-highlight-color: transparent;

			&:hover {
				transition-delay: 0s;
				opacity: 1;
			}
		}

		> a {
			display: block;
			padding: 0.7em 1em;
			color: rgba($color-dark-2, 0.75);
			text-align: left;
			text-decoration: none;
			border-radius: 4px;
			transition-property: color, background-color;
			transition-duration: 0.05s;

			@media (min-width: #{$computer-min-width}) {
				font-size: 1.1rem;
				font-weight: 400;
			}

			@media (max-width: #{$mobile-max-width}) {
				font-size: 1rem;
				font-weight: 400;
			}

			&:hover {
				color: $color-dark-2;
				background-color: rgba(#fff, 1);
			}
		}
	}
}
