@mixin mediasoup-gradient() {
	background-image: linear-gradient(
		0deg, $color-highlight-2 10%,
		$color-highlight-1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}

@mixin mediasoup-logo($light: true) {
	font-family: 'Poiret One';
	letter-spacing: -0.04em;
	@if ($light) {
		color: $color-white-2;
	} @else {
		color: $color-dark;
	}
	-webkit-tap-highlight-color: transparent;

	span.small {
		font-size: 0.85em;
	}

	span.merge {
		letter-spacing: -0.1em;
	}

	span.highlight {
		@include mediasoup-gradient();
	}
}
