pre.highlight {
	overflow: auto;
	width: 100%;
	margin: 0 auto;
	padding: 1.2em;
	border-radius: 4px;
	background: $color-dark;
	border: 1px solid rgba($color-white-2, 0.15);
	font-size: 0.85em;
	font-family: 'Monaco', 'Andale Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	hyphens: none;
	// Default color.
	color: #d7d7d7;
	opacity: 0.75;

	.hll { background-color: #49483e }
	.c   { color: #908d7f; } /* comment */
	.err { color: #960050; background-color: #1e0010; } /* error */
	.k   { color: #f9ee9a; } /* keyword */
	.l   { color: #ffe081; } /* literal */
	.n   { color: #f8f8f2; } /* name */
	.o   { color: #a1e075; } /* operator */
	.p   { color: rgba(#fff, 0.55); } /* punctuation */
	.cm  { color: #908d7f; } /* comment.multiline */
	.cp  { color: #908d7f; } /* comment.preproc */
	.c1  { color: #908d7f; } /* comment.single */
	.cs  { color: #908d7f; } /* comment.special */
	.ge  { font-style: italic; } /* generic.emph */
	.gs  { font-weight: bold; } /* generic.strong */
	.kc  { color: #ff8d26; } /* keyword.constant */
	.kd  { color: #f9ee9a; } /* keyword.declaration */
	.kn  { color: #a1e075; } /* keyword.namespace */
	.kp  { color: #f9ee9a; } /* keyword.pseudo */
	.kr  { color: #ff8d26; } /* keyword.reserved */
	.kt  { color: #f9ee9a; } /* keyword.type */
	.ld  { color: #63d3f2; } /* literal.date */
	.m   { color: #ffe081; } /* literal.number */
	.s   { color: #63d3f2; } /* literal.string */
	.na  { color: #cccccc; } /* name.attribute */
	.nb  { color: #f8f8f2; } /* name.builtin */
	.nc  { color: #e5e5e5; } /* name.class */
	.no  { color: #f9ee9a; } /* name.constant */
	.nd  { color: #e5e5e5; } /* name.decorator */
	.ni  { color: #f8f8f2; } /* name.entity */
	.ne  { color: #e5e5e5; } /* name.exception */
	.nf  { color: #e5e5e5; } /* name.function */
	.nl  { color: #f8f8f2; } /* name.label */
	.nn  { color: #f8f8f2; } /* name.namespace */
	.nx  { color: #e5e5e5; } /* name.other */
	.py  { color: #f8f8f2; } /* name.property */
	.nt  { color: #a1e075; } /* name.tag */
	.nv  { color: #f8f8f2; } /* name.variable */
	.ow  { color: #a1e075; } /* operator.word */
	.w   { color: #f8f8f2; } /* text.whitespace */
	.mf  { color: #ffe081; } /* literal.number.float */
	.mh  { color: #ffe081; } /* literal.number.hex */
	.mi  { color: #ffe081; } /* literal.number.integer */
	.mo  { color: #ffe081; } /* literal.number.oct */
	.sb  { color: #63d3f2; } /* literal.string.backtick */
	.sc  { color: #63d3f2; } /* literal.string.char */
	.sd  { color: #63d3f2; } /* literal.string.doc */
	.s2  { color: #63d3f2; } /* literal.string.double */
	.se  { color: #ffe081; } /* literal.string.escape */
	.sh  { color: #63d3f2; } /* literal.string.heredoc */
	.si  { color: #63d3f2; } /* literal.string.interpol */
	.sx  { color: #63d3f2; } /* literal.string.other */
	.sr  { color: #63d3f2; } /* literal.string.regex */
	.s1  { color: #63d3f2; } /* literal.string.single */
	.ss  { color: #63d3f2; } /* literal.string.symbol */
	.bp  { color: #f8f8f2; } /* name.builtin.pseudo */
	.vc  { color: #f8f8f2; } /* name.variable.class */
	.vg  { color: #f8f8f2; } /* name.variable.global */
	.vi  { color: #f8f8f2; } /* name.variable.instance */
	.il  { color: #ffe081; } /* literal.number.integer.long */

	.gh  { } /* generic heading & diff header */
	.gu  { color: #908d7f; } /* generic.subheading & diff unified/comment? */
	.gd  { color: #a1e075; } /* generic.deleted & diff deleted */
	.gi  { color: #e5e5e5; } /* generic.inserted & diff inserted */
}
