[data-content="default"] {
	color: $color-text-4;
	width: 100%;
	overflow: hidden;
	text-align: justify;

	@include breakpoint($computer) {
		margin: 4rem auto;
		width: 90%;
		max-width: 1024px;
		padding: 1rem;
		font-size: 1rem;
	}

	@include breakpoint($mobile) {
		margin: 2.5rem auto;
		width: 100%;
		padding: 1rem;
		font-size: 0.85rem;
	}

	h1 {
		font-family: 'Poiret One';
		color: $color-text-8;
		text-align: left;
		margin-bottom: 1em;

		@include breakpoint($computer) {
			font-size: 2.5em;
		}

		@include breakpoint($mobile) {
			font-size: 2em;
		}
	}

	h2 {
		color: $color-text-8;
		text-align: left;
		border-bottom: 1px solid $color-highlight;
		margin-top: 2em;
		margin-bottom: 1.5em;

		@include breakpoint($computer) {
			font-size: 1.6em;
			line-height: 1.6em;
		}

		@include breakpoint($mobile) {
			font-size: 1.35em;
			line-height: 1.35em;
		}
	}

	h3 {
		font-size: 1.2em;
		line-height: 1.5em;
		color: $color-text-7;
		font-weight: bold;
		text-align: left;
		border-bottom: 1px solid #2a2a2a;
		margin-top: 2em;
		margin-bottom: 1.5em;
	}

	&.h3color h3 {
		color: $color-highlight-dark;
	}

	h4 {
		font-size: 1.1em;
		color: $color-text-6;
		font-weight: bold;
		text-align: left;
		margin-top: 2em;
		margin-bottom: 1.5em;

		&.code {
			font-size: 1em;
			font-family: 'Monaco', 'Andale Mono', monospace;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	h5 {
		font-size: 1em;
		color: $color-text-5;
		font-weight: bold;
		text-align: left;
		margin-top: 1.5em;
		margin-bottom: 1em;
	}

	p {
		line-height: 1.5em;
		margin-top: 0.75em;
		margin-bottom: 0.75em;
	}

	ul {
		line-height: 1.5em;
		margin-left: 1.5em;
		margin-top: 1em;
		margin-bottom: 1em;
		list-style-type: disc;

		@include breakpoint($mobile) {
			text-align: left;
		}

		li ul {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	div.big-list {
		ul {
			font-size: 1.4em;

			li {
				margin-top: 0.75em;
				margin-bottom: 0.75em;
			}
		}
	}

	a {
		text-decoration: none;
		color: $color-highlight-dark;

		&:hover {
			text-decoration: underline;
		}

		&.inline-icon {
			margin: 0 2px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			img {
				background-color: rgba(#fff, 0.5);
				border-radius: 4px;
				@include transition-property(background-color);
				@include transition-duration(0.2s);

				&:hover {
					background-color: rgba($color-highlight, 0.9);
				}
			}
		}

		> code {
			color: $color-highlight-dark !important;
		}
	}

	strong {
		font-weight: bold;
		color: $color-text-5;
	}

	em {
		font-style: italic;
	}

	// @import a theme for rouge.
	@import 'rouge_theme';

	div.highlighter-rouge {
		margin: 2em auto;

		@include breakpoint($computer) {
			width: 92%;
		}

		@include breakpoint($mobile) {
			width: 100%;
		}
	}

	:not(pre) > code {
		font-family: 'Monaco', 'Andale Mono', monospace;
		font-size: 0.9em;
		color: $color-text-5;
		white-space: pre;
		background-color: rgba(#333, 0.75);
		border-radius: 4px;
		padding: 1px 2px;
	}

	section {
		margin: 0;

		@include breakpoint($computer) {
			padding-left: 1.5em;
		}

		@include breakpoint($mobile) {
			padding-left: 0.5em;
		}
	}

	div.note {
		margin: 2em auto;
		padding: 1em;
		font-size: 0.95em;
		background-color: rgba(#000, 0.25);
		border: 1px solid rgba($color-highlight-dark, 0.75);
		border-radius: 4px;

		&.warn {
			border-color: rgba(#ff5542, 0.75);
		}

		@include breakpoint($computer) {
			width: 92%;
		}

		@include breakpoint($mobile) {
			width: 100%;
		}

		> *:first-child {
			margin-top: 0 !important;
		}

		> *:last-child {
			margin-bottom: 0 !important;
		}
	}

	.table-wrapper {
		margin: 2em 0;
		overflow: auto;

		table {
			width: 100%;
			margin: 0 auto;
			border-collapse: collapse;
			background-color: rgba(#333, 0.1);
			font-size: 0.9em;

			th {
				padding: 0.75em;
				text-align: center;
				color: $color-text-5;
				background-color: rgba(#999, 0.15);
			}

			td {
				padding: 0.75em;
				line-height: 1.5em;
				text-align: left;
			}

			th, td {
				border: 1px solid #444;
			}
		}

		&.L2 {
			th:nth-child(2),
			td:nth-child(2) {
				min-width: 300px;
			}
		}

		&.L3 {
			th:nth-child(3),
			td:nth-child(3) {
				min-width: 300px;
			}
		}

		&.M5 {
			th:nth-child(5),
			td:nth-child(5) {
				min-width: 200px;
			}
		}
	}

	img {
		vertical-align: bottom;

		&.round {
			border-radius: 50%;
		}

		&.left {
			@include breakpoint($computer) {
				float: left;
				margin: 0 2em 1em 0;
			}

			@include breakpoint($mobile) {
				display: block;
				margin: 2em auto;
			}
		}
	}

	// Remove margin-top for first sibling elements.
	h1 + h2, h1 + h3, h1 + p, h1 + ul, h1 + pre,
	h2 + h3, h2 + h4, h2 + p, h2 + ul, h2 + pre,
	h3 + h4, h3 + p, h3 + ul, h3 + pre,
	h4 + h5, h4 + p, h4 + ul, h4 + pre,
	ul + p,
	p + ul,
	section > *:first-child {
		margin-top: 0 !important;
	}
	section > *:last-child {
		margin-bottom: 0 !important;
	}
}
