[data-content='home'] {
	@include display-flex;
	@include flex-direction(column);
	text-align: justify;

	> .banner {
		width: 100%;

		@include breakpoint($computer) {
			@include flex(100 0 auto);
			@include display-flex;
			@include flex-direction(column);
			@include justify-content(center);
			min-height: 150px;
			margin: 1rem 0;
			padding: 0 20%;
			font-size: 4.5rem;
			@include transition-property(opacity transform);
			@include transition-delay(0.5s);
			@include transition-duration(1.6s);
			@include transform-origin(30%);
			@include transform(perspective(250px));

			&.loading {
				opacity: 0;
				@include transform(perspective(250px) rotateY(90deg) rotateX(15deg));
			}
		}

		@include breakpoint($mobile) {
			@include flex(0 0 auto);
			margin: 4rem 0;
			padding: 0 5%;
			font-size: 3.2rem;
		}

		> h1 {
			@include mediasoup-logo();
			margin-bottom: 1rem;
		}

		> p.description {
			font-family: 'Poiret One';
			font-size: 0.35em;
			color: $color-text-6;
			margin: 0;
			margin-left: 2px;
		}
	}

	> .menu-button {
		z-index: 2;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;

		@include breakpoint($computer) {
			position: absolute;
			top: 4rem;
			right: 6%;
			width: 48px;
			height: 48px;
			background-size: contain;
			background-image: url('/images/menu.svg');
			border-radius: 5px;
			border: 1px solid rgba($color-highlight, 0.3);
			opacity: 0.8;
			@include transition-property(transform);
			@include transition-duration(.75s);

			&:hover {
				@include transition-duration(.25s);
				opacity: 1;
			}

			&.loading {
				@include transform(scale(0));
			}

			&.loaded {
				@include transition-duration(.25s);
			}

			&.hidden {
				@include transform(scale(0));
			}
		}

		@include breakpoint($mobile) {
			position: absolute;
			top: 12px;
			right: 16px;
			width: 32px;
			height: 32px;
			background-size: contain;
			background-image: url('/images/menu.svg');
			opacity: 0.9;
			@include transition-property(opacity);
			@include transition-duration(.25s);

			&.hidden {
				opacity: 0;
			}
		}
	}

	> .install {
		overflow: hidden;

		@include breakpoint($computer) {
			@include flex(20 0 auto);
			@include display-flex;
			@include flex-direction(column);
			@include justify-content(center);
			margin-bottom: 2rem;
		}

		@include breakpoint($mobile) {
			@include flex(0 0 auto);
			margin-bottom: 4rem;
		}

		> pre {
			display: block;
			background-color: rgba(#fff, 0.03);
			border-top: 1px solid rgba(#fff, 0.1);
			border-bottom: 1px solid rgba(#fff, 0.1);
			color: $color-text-4;
			text-shadow: 0 -.1em .2em black;

			@include breakpoint($computer) {
				@include transition-property(opacity transform background-color color border-color);
				@include transition-delay(1.5s);
				@include transition-duration(1s);

				&.loading {
					opacity: 0;
					@include transform(scale(1.25));
					background-color: rgba(#fff, 0.1);
					border-color: transparent;
					color: #fff;
				}
			}

			code {
				display: block;
				padding: 0.8em 0;
				font-size: 1em;
				text-align: center;
				font-family: 'Monaco', 'Andale Mono', monospace;
				white-space: pre;
				color: inherit;
				text-shadow: inherit;

				span.no-select {
					@include user-select(none);
				}
			}
		}
	}

	> .diagram {
		height: 200px;
		background-image: url('/images/diagram.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		@include breakpoint($computer) {
			position: absolute;
			z-index: -1;
			top: -1rem;
			right: 15%;
			height: 400px;
			width: 400px;
			opacity: 0.085;
			@include transition-property(opacity transform);
			@include transition-delay(0.6s);
			@include transition-duration(1.5s);
			@include transform(rotate(-20deg));

			&.loading {
				opacity: 0;
				@include transform(rotate(0deg));
			}
		}

		@include breakpoint($mobile) {
			display: none;
		}
	}

	> .boxes {
		width: 100%;
		@include flex(100 0 auto);

		@include breakpoint($computer) {
			@include display-flex;
			@include flex-direction(column);
			@include justify-content(center);
			padding: 0 6%;
			font-size: 1rem;
		}

		@include breakpoint($mobile) {
			font-size: 0.9rem;
		}

		> .wrapper {
			@include breakpoint($computer) {
				@include display-flex;
				@include flex-direction(row);
				@include justify-content(center);
				@include box-shadow(0px 7px 15px -1px rgba(#000, 0.3));
			}

			@include breakpoint($mobile) {
				margin-bottom: 3rem;
			}

			.box {
				&.first {
					background-color: rgba(#000, 0.45);
				}

				&.second {
					background-color: rgba(#111, 0.35);
				}

				&.third {
					background-color: rgba(#333, 0.25);
				}

				@include breakpoint($computer) {
					@include flex(0 10 auto);
					width: 34%;
					padding: 1.75rem;
				}

				@include breakpoint($mobile) {
					padding: 1.5rem;
					border-top: 1px solid rgba($color-highlight-dark, 0.5);
				}

				h3 {
					line-height: 1.3em;
					letter-spacing: -.05em;
					margin-bottom: 1.1em;
					color: $color-highlight-dark;

					@include breakpoint($computer) {
						font-size: 1.1em;
						padding: 0.4em 0;
					}

					@include breakpoint($mobile) {
						font-size: 1.2em;
						padding: 0.6em 0;
					}
				}

				p {
					line-height: 1.4em;
					color: $color-text-4;
					margin-bottom: 1em;

					@include breakpoint($computer) {
						font-size: 0.95em;
					}

					@include breakpoint($mobile) {
						font-size: 1em;
					}

					strong {
						font-weight: bold;
						color: $color-text-5;
					}

					a {
						@include transition-duration(0.25s);
						text-decoration: none;
						color: $color-highlight-dark;
						border-bottom: 1px solid transparent;

						&:hover {
							color: $color-highlight;
							border-color: $color-highlight;
						}
					}
				}
			}
		}
	}

	> .shields {
		@include flex(0 0 auto);
		height: 20px;
		text-align: center;
		margin: 2rem;
	}
}
