[data-content='home'] {
	@include display-flex;
	@include flex-direction(column);

	> .banner {
		@include breakpoint($computer) {
			overflow: hidden;
			@include flex(0 0 auto);
			@include display-flex;
			@include flex-direction(column);
			@include justify-content(center);
			margin: 3rem 0 4rem 20%;
			width: 500px;
			font-size: 4.5rem;
			@include transition-property(opacity, transform);
			@include transition-delay(0.75s);
			@include transition-duration(1s);
			@include transform-origin(30%);
			@include transform(perspective(250px));

			&.loading {
				opacity: 0;
				@include transform(perspective(250px) rotateY(90deg) rotateX(15deg));
			}
		}

		@include breakpoint($mobile) {
			@include flex(0 0 auto);
			margin: 3rem 0;
			width: 100%;
			padding: 0 5%;
			font-size: 3.5rem;
		}

		> h1 {
			@include mediasoup-logo();
			margin-bottom: 1rem;
		}

		> p.description {
			margin: 0.1em 0 0.1em 2px;
			font-family: 'Poiret One';
			color: #000;
			line-height: 1.5em;

			@include breakpoint($computer) {
				font-size: 0.35em;
			}

			@include breakpoint($mobile) {
				font-size: 0.45em;
			}
		}
	}

	> .menu-button {
		z-index: 2;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;

		@include breakpoint($computer) {
			position: absolute;
			top: 2rem;
			right: 4%;
			width: 38px;
			height: 38px;
			background-size: contain;
			background-image: url('/images/menu.svg');
			border-radius: 5px;
			opacity: 0.85;
			@include transition-property(transform);
			@include transition-duration(.75s);

			&:hover {
				@include transition-duration(.25s);
				opacity: 1;
			}

			&.loading {
				@include transform(scale(0));
			}

			&.loaded {
				@include transition-duration(0.25s);
			}

			&.hidden {
				@include transform(scale(0));
			}
		}

		@include breakpoint($mobile) {
			position: absolute;
			top: 12px;
			right: 16px;
			width: 32px;
			height: 32px;
			background-size: contain;
			background-image: url('/images/menu.svg');
			opacity: 0.9;
			@include transition-property(opacity);
			@include transition-duration(.25s);

			&.hidden {
				opacity: 0;
			}
		}
	}

	> .install {
		@include flex(0 0 auto);
		overflow: hidden;

		@include breakpoint($computer) {
			@include display-flex;
			@include flex-direction(row);
			@include justify-content(center);
			margin-bottom: 2rem;
		}

		@include breakpoint($mobile) {
			margin-bottom: 2rem;
		}

		> .content {
			display: block;
			width: 100%;
			padding: 10px 5%;
			background-color: rgba(#7C8073, 0.15);
			color: #666;

			@include breakpoint($computer) {
				@include display-flex;
				@include flex-direction(row);
				@include justify-content(center);
				@include transition-property(opacity, transform, background-color, color);
				@include transition-delay(1.5s);
				@include transition-duration(1s);

				&.loading {
					opacity: 0;
					@include transform(scale(1.5));
					background-color: rgba(#fff, 0.5);
					color: #fff;
				}
			}

			@include breakpoint($mobile) {
				@include transition-property(opacity, transform, background-color, color);
				@include transition-delay(0.25s);
				@include transition-duration(1s);

				&.loading {
					opacity: 0;
					@include transform(scale(1.5));
					background-color: rgba(#fff, 0.5);
					color: #fff;
				}
			}

			> .code-container {
				margin: auto;

				code {
					display: block;
					text-align: left;
					font-family: 'Monaco', 'Andale Mono', monospace;
					white-space: pre;
					color: inherit;
					text-shadow: inherit;

					@include breakpoint($computer) {
						font-size: 0.9em;
						line-height: 1.6em;
					}

					@include breakpoint($mobile) {
						font-size: 0.8em;
						line-height: 1.8em;
					}

					span.no-select {
						color: $color-dark;
						@include user-select(none);
					}
				}
			}
		}
	}

	> .diagram {
		height: 200px;
		background-image: url('/images/diagram.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		@include breakpoint($computer) {
			position: absolute;
			z-index: -1;
			top: -1rem;
			right: 15%;
			height: 400px;
			width: 400px;
			opacity: 0.1;
			@include transition-property(opacity, transform);
			@include transition-delay(1s);
			@include transition-duration(1.5s);
			@include transform(rotate(-20deg));

			&.loading {
				opacity: 0;
				@include transform(rotate(0deg));
			}
		}

		@include breakpoint($mobile) {
			display: none;
		}
	}

	> .boxes {
		@include flex(100 0 auto);

		@include breakpoint($computer) {
			@include display-flex;
			@include flex-direction(column);
			@include justify-content(center);
			width: 90%;
			min-width: 1024px;
			margin: 0 auto;
			padding: 0 6%;
			font-size: 1rem;
		}

		@include breakpoint($mobile) {
			width: 100%;
			padding: 0 10px;
			font-size: 0.9rem;
		}

		> .wrapper {
			@include breakpoint($computer) {
				@include display-flex;
				@include flex-direction(row);
				@include justify-content(center);
				@include transition-delay(1s);
				@include transition-duration(1s);
			}

			@include breakpoint($mobile) {
				margin-bottom: 3rem;
			}

			.box {
				background-color: #fff;
				box-shadow: 0 4px 8px 0 rgba(#0e0e0f, 0.2);

				@include breakpoint($computer) {
					@include flex(0 10 auto);
					width: 34%;
					margin: 0 4px;
					padding: 1.75rem;
					@include transition-property(opacity);
					@include transition-duration(1s);

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					&.loading {
						opacity: 0;
					}
				}

				@include breakpoint($mobile) {
					margin: 10px  0;
					padding: 2rem 1.5rem 2.5rem 1.5rem;
				}

				h3 {
					line-height: 1.3em;
					margin-bottom: 1em;
					color: $color-dark;
					font-weight: 400;

					@include breakpoint($computer) {
						font-size: 1.1em;
						padding: 0.4em 0;
					}

					@include breakpoint($mobile) {
						font-size: 1.4em;
						padding: 0.5em 0;
					}
				}

				p {
					line-height: 1.4em;
					color: #666;
					margin-bottom: 1em;

					@include breakpoint($computer) {
						font-size: 0.9em;
					}

					@include breakpoint($mobile) {
						font-size: 1em;
					}

					a {
						@include transition-duration(0.25s);
						text-decoration: none;
						color: $color-dark;
						border-bottom: 1px solid transparent;

						&:hover {
							color: $color-highlight;
							border-color: $color-highlight;
						}
					}
				}
			}
		}
	}

	> .shields {
		@include flex(0 0 auto);
		height: 20px;
		text-align: center;
		margin: 2rem;

		@include breakpoint($computer) {
			@include transition-property(transform);
			@include transition-duration(0.25s);

			&.loading {
				@include transform(scale(0));
			}
		}

		> a.shield {
			display: inline-block;
			margin: 0 2px;
		}
	}
}
