[data-content='home'] {
	@include display-flex;
	@include flex-direction(column);

	> .banner {
		@include breakpoint($computer) {
			overflow: hidden;
			@include flex(0 0 auto);
			@include display-flex;
			@include flex-direction(column);
			@include justify-content(center);
			margin: 4rem 0 4rem 20%;
			width: 500px;
			font-size: 4.5rem;
			@include transition-property(opacity, transform);
			@include transition-delay(0.75s);
			@include transition-duration(1.6s);
			@include transform-origin(30%);
			@include transform(perspective(250px));

			&.loading {
				opacity: 0;
				@include transform(perspective(250px) rotateY(90deg) rotateX(15deg));
			}
		}

		@include breakpoint($mobile) {
			@include flex(0 0 auto);
			margin: 4rem 0;
			width: 100%;
			padding: 0 5%;
			font-size: 3.5rem;
		}

		> h1 {
			@include mediasoup-logo();
			margin-bottom: 1rem;
		}

		> p.description {
			margin: 0.1em 0 0.1em 2px;
			font-family: 'Poiret One';
			color: #000;
			line-height: 1.5em;

			@include breakpoint($computer) {
				font-size: 0.35em;
			}

			@include breakpoint($mobile) {
				font-size: 0.45em;
			}
		}
	}

	> .menu-button {
		z-index: 2;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;

		@include breakpoint($computer) {
			position: absolute;
			top: 4rem;
			right: 6%;
			width: 48px;
			height: 48px;
			background-size: contain;
			background-image: url('/images/menu.svg');
			border-radius: 5px;
			opacity: 0.75;
			@include transition-property(transform);
			@include transition-duration(.75s);

			&:hover {
				@include transition-duration(.25s);
				opacity: 1;
			}

			&.loading {
				@include transform(scale(0));
			}

			&.loaded {
				@include transition-duration(.25s);
			}

			&.hidden {
				@include transform(scale(0));
			}
		}

		@include breakpoint($mobile) {
			position: absolute;
			top: 12px;
			right: 16px;
			width: 32px;
			height: 32px;
			background-size: contain;
			background-image: url('/images/menu.svg');
			opacity: 0.9;
			@include transition-property(opacity);
			@include transition-duration(.25s);

			&.hidden {
				opacity: 0;
			}
		}
	}

	> .install {
		overflow: hidden;

		@include breakpoint($computer) {
			@include flex(20 0 auto);
			@include display-flex;
			@include flex-direction(column);
			@include justify-content(center);
			margin-bottom: 2rem;
		}

		@include breakpoint($mobile) {
			@include flex(0 0 auto);
			margin-bottom: 4rem;
		}

		> pre {
			display: block;
			background-color: rgba(#000, 0.05);
			color: #444;

			@include breakpoint($computer) {
				@include transition-property(opacity, transform, background-color, color);
				@include transition-delay(1.35s);
				@include transition-duration(1s);

				&.loading {
					opacity: 0;
					@include transform(scale(1.5));
					background-color: rgba(#fff, 0.5);
					color: #fff;
				}
			}

			@include breakpoint($mobile) {
				@include transition-property(opacity, transform, background-color, color);
				@include transition-delay(0.25s);
				@include transition-duration(1.5s);

				&.loading {
					opacity: 0;
					@include transform(scale(2.25));
					background-color: rgba(#fff, 0.5);
					color: #fff;
				}
			}

			code {
				display: block;
				padding: 0.8em 0;
				font-size: 1em;
				text-align: center;
				font-family: 'Monaco', 'Andale Mono', monospace;
				white-space: pre;
				color: inherit;
				text-shadow: inherit;

				span.no-select {
					@include user-select(none);
				}
			}
		}
	}

	> .diagram {
		height: 200px;
		background-image: url('/images/diagram.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		@include breakpoint($computer) {
			position: absolute;
			z-index: -1;
			top: -1rem;
			right: 15%;
			height: 400px;
			width: 400px;
			opacity: 0.1;
			@include transition-property(opacity, transform);
			@include transition-delay(1s);
			@include transition-duration(1.5s);
			@include transform(rotate(-20deg));

			&.loading {
				opacity: 0;
				@include transform(rotate(0deg));
			}
		}

		@include breakpoint($mobile) {
			display: none;
		}
	}

	> .boxes {
		@include flex(100 0 auto);

		@include breakpoint($computer) {
			@include display-flex;
			@include flex-direction(column);
			@include justify-content(center);
			width: 90%;
			min-width: 1024px;
			margin: 0 auto;
			padding: 0 6%;
			font-size: 1rem;
		}

		@include breakpoint($mobile) {
			width: 100%;
			padding: 0 10px;
			font-size: 0.9rem;
		}

		> .wrapper {
			@include breakpoint($computer) {
				@include display-flex;
				@include flex-direction(row);
				@include justify-content(center);
				@include transition-delay(1s);
				@include transition-duration(1s);
			}

			@include breakpoint($mobile) {
				margin-bottom: 3rem;
			}

			.box {
				&.first {
					@include background-image(radial-gradient(circle farthest-side at center bottom,
						rgba(#81c7e2, 0.95), rgba(#1fa4e8, 0.95) 125%));

					p {
						color: rgba(#fff, 1);
					}
				}

				&.second {
					@include background-image(radial-gradient(circle farthest-side at center bottom,
						rgba(#50adda, 0.95), rgba(#004287, 0.95) 125%));

					p {
						color: rgba(#fff, 0.95);
					}
				}

				&.third {
					@include background-image(radial-gradient(circle farthest-side at center bottom,
						rgba(#49545d, 0.95), rgba(#040506, 0.95) 125%));

					p {
						color: rgba(#fff, 0.9);
					}
				}

				@include breakpoint($computer) {
					@include flex(0 10 auto);
					width: 34%;
					margin: 0 2px;
					padding: 1.75rem;
					@include transition-property(opacity);
					@include transition-duration(1s);

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					&.loading {
						opacity: 0;
					}
				}

				@include breakpoint($mobile) {
					margin: 5px  0;
					padding: 2rem 1.5rem 2.5rem 1.5rem;
				}

				h3 {
					line-height: 1.3em;
					margin-bottom: 1.1em;
					color: rgba(#fff, 1);

					@include breakpoint($computer) {
						font-size: 1.1em;
						padding: 0.4em 0;
					}

					@include breakpoint($mobile) {
						font-size: 1.4em;
						padding: 0.5em 0;
					}
				}

				p {
					line-height: 1.4em;
					color: rgba(#fff, 0.95);
					margin-bottom: 1em;

					@include breakpoint($computer) {
						font-size: 0.9em;
					}

					@include breakpoint($mobile) {
						font-size: 1em;
					}

					a {
						@include transition-duration(0.25s);
						text-decoration: none;
						color: $color-highlight-dark;
						border-bottom: 1px solid transparent;

						&:hover {
							color: $color-highlight;
							border-color: $color-highlight;
						}
					}
				}
			}
		}
	}

	> .shields {
		@include flex(0 0 auto);
		height: 20px;
		text-align: center;
		margin: 2rem;
		opacity: 0.9;

		@include breakpoint($computer) {
			@include transition-property(transform);
			@include transition-duration(0.25s);

			&.loading {
				@include transform(scale(0));
			}
		}
	}
}
