> .menu {
	$width: 250px;

	position: fixed;
	z-index: 100;
	top: 0;
	// Hide the lateral shadow.
	right: -$width - 5px;
	width: $width;
	// Trick to avoid menu flash effect in mobile.
	height: 115%;
	padding-bottom: 15%;
	overflow: auto;
	// background-color: rgba($color-highlight-dark, 1);
	background-color: rgba(#333, 0.98);
	@include box-shadow(-3px 0px 8px 0px rgba(#333, 0.25));
	@include transition-property(right);
	@include transition-duration(0.15s);

	&.visible {
		right: 0;

		> .container > .close {
			@include transition-delay(0.25s);
			@include transform(scale(1));
		}
	}

	> .container {
		overflow: auto;

		@include breakpoint($computer) {
			padding: 64px 8px 8px 8px;
		}

		@include breakpoint($mobile) {
			padding: 48px 6px 6px 6px;
		}

		> .close {
			position: absolute;
			top: 12px;
			right: 16px;
			height: 32px;
			width: 32px;
			background-size: 24px;
			background-image: url('/images/close.svg');
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			opacity: 0.9;
			@include transform(scale(0));
			@include transition-property(opacity, transform);
			@include transition-duration(0.25s);
			-webkit-tap-highlight-color: transparent;

			&:hover {
				@include transition-delay(0s);
				opacity: 1;
			}
		}

		> a {
			display: block;
			padding: 0.7em 1em;
			color: rgba(#fff, 0.65);
			text-align: center;
			text-decoration: none;
			border-radius: 4px;
			@include transition-property(color, background-color);
			@include transition-duration(0.05s);

			@include breakpoint($computer) {
				font-size: 1.1rem;
				font-weight: 300;
			}

			@include breakpoint($mobile) {
				font-size: 1rem;
				font-weight: 300;
			}

			&:hover {
				color: rgba(#fff, 1);
				background-color: rgba(#fff, 0.15);
			}
		}
	}
}
