> .menu {
	$width: 250px;

	position: fixed;
	z-index: 100;
	top: 0;
	// Hide the lateral shadow.
	right: -$width - 5px;
	width: $width;
	// Trick to avoid menu flash effect in mobile.
	height: 115%;
	padding-bottom: 15%;
	overflow: auto;
	background-color: rgba(#17aacc, 0.96);
	@include box-shadow(-5px 0px 8px 0px rgba(#333, 0.25));
	@include transition-property(right);
	@include transition-duration(0.15s);

	@include breakpoint($computer) {
		font-size: 1.15rem;
	}

	@include breakpoint($mobile) {
		font-size: 1.1rem;
	}

	&.visible {
		right: 0;

		> .container > .close {
			@include transition-delay(0.25s);
			@include transform(scale(1));
		}
	}

	> .container {
		padding: 64px 8px 8px 8px;
		overflow: auto;

		> .close {
			position: absolute;
			top: 12px;
			right: 16px;
			height: 32px;
			width: 32px;
			background-size: 24px;
			background-image: url('/images/close.svg');
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			opacity: 0.9;
			@include transform(scale(0));
			@include transition-property(opacity, transform);
			@include transition-duration(0.25s);
			-webkit-tap-highlight-color: transparent;

			&:hover {
				@include transition-delay(0s);
				opacity: 1;
			}
		}

		> a {
			display: block;
			padding: 0.7em 1em;
			text-align: center;
			text-decoration: none;
			color: rgba(#fff, 0.95);
			font-weight: 300;
			border-radius: 4px;
			@include transition-property(color, background-color);
			@include transition-duration(.15s);

			&:hover {
				color: rgba(#fff, 1);
				background-color: rgba(#fff, 0.15);
			}
		}
	}
}
