> .menu {
	$width: 250px;

	position: fixed;
	z-index: 100;
	top: 0;
	// Hide the lateral shadow.
	right: -$width - 5px;
	width: $width;
	// Trick to avoid menu flash effect in mobile.
	height: 115%;
	padding-bottom: 15%;
	overflow: auto;
	background-color: rgba(#fff, 0.95);
	@include box-shadow(-5px 0px 5px 0px rgba(#333, 0.3));
	@include transition-property(right);
	@include transition-duration(0.15s);

	@include breakpoint($computer) {
		font-size: 1.2rem;
	}

	@include breakpoint($mobile) {
		font-size: 1.1rem;
	}

	&.visible {
		right: 0;

		> .container > .close {
			@include transition-delay(0.25s);
			@include transform(scale(1));
		}
	}

	> .container {
		padding: 64px 8px 8px 8px;
		overflow: auto;

		> .close {
			position: absolute;
			top: 12px;
			right: 16px;
			height: 32px;
			width: 32px;
			background-size: 24px;
			background-image: url('/images/close.svg');
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			opacity: 0.75;
			@include transform(scale(0));
			@include transition-property(opacity, transform);
			@include transition-duration(0.25s);
			-webkit-tap-highlight-color: transparent;

			&:hover {
				@include transition-delay(0s);
				opacity: 1;
			}
		}

		> a {
			display: block;
			padding: 0.7em 1em;
			text-decoration: none;
			color: #444;
			border-radius: 4px;
			border: 1px solid transparent;
			@include transition-duration(0.1s);

			&:hover {
				color: $color-highlight-dark;
				background-color: rgba(#fff, 1);
				border-color: #ddd;
			}
		}
	}
}
