@import 'compass/reset';
@import 'compass/css3/box-sizing';
@import 'compass/css3/images';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/box-shadow';
@import 'compass/css3/flexbox';
@import 'compass/css3/user-interface';
@import 'compass/css3/hyphenation';
@import 'breakpoint';

// Import fonts.
@import './fonts';
// Import my mixins.
@import './mixins';

$computer: min-width 901px;
$mobile: max-width 900px;

$header-height-computer: 64px;
$header-height-mobile: 56px;

$color-text-8: #f0f8ff;
$color-text-7: #ddd;
$color-text-6: #ccc;
$color-text-5: #bbb;
$color-text-4: #999;
$color-text-3: #777;
$color-text-2: #666;
$color-text-1: #080808;
$color-highlight: #ccff66;
$color-highlight-dark: shade($color-highlight, 25%);


* {
	@include box-sizing(border-box);
}

html {
	height: 100%;
	// Default font size for common text.
	font-size: 16px;
	// font-family: 'Open Sans', Helvetica;
	// font-weight: 400;

	font-family: 'Roboto', sans-serif;

	@include breakpoint($computer) {
		font-size: 16px;
		font-weight: 300;
	}

	@include breakpoint($mobile) {
		font-size: 13px;
		font-weight: 400;
	}
}

body {
	min-height: 100%;
	// Should not be needed, but IE does not takes all the height without it.
	height: 100%;
	overflow: auto;
	@include display-flex;
	@include flex-direction(column);
	@include align-items(center);
	background-repeat: no-repeat;
	@include background-image(linear-gradient(110deg,
		#000 0%,
		#333 25%,
		#000 25%,
		#080808 100%));
	background-color: #080808;

	@include breakpoint($computer) {
		// Just set fixed background on computer (it's not supported in iOS Safari
		// and scrolling becomes ugly in Chrome/Firefox for mobile).
		background-attachment: fixed;

		// iOS devices (iPad) do not support background-attachment: fixed.
		&.ios {
			background-attachment: initial;
		}
	}

	> .logo-mini {
		display: none;
	}

	@import 'menu';

	> .header {
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		@include display-flex;
		@include flex-direction(row);
		@include justify-content(space-between);
		@include align-items(center);
		border-bottom: 1px solid rgba(#fff, 0.25);

		@include breakpoint($computer) {
			height: $header-height-computer;
			padding: 0 3.5rem;
			font-size: 2.5rem;
			@include background-image(linear-gradient(110deg,
				rgba(#000, 0.9) 0%,
				rgba(#222, 0.9) 25%,
				rgba(#060606, 0.9) 25%,
				rgba(#111, 0.9) 100%));
			background-attachment: fixed;

			// iOS devices (iPad) do not support background-attachment: fixed.
			&.ios {
				@include background-image(none);
				background-color: rgba(#222, 0.9);
			}
		}

		@include breakpoint($mobile) {
			height: $header-height-mobile;
			padding: 0 16px;
			font-size: 2rem;
			background-color: rgba(#222, 0.9);
		}

		h1 {
			@include mediasoup-logo();
			margin-bottom: 0.1em;

			a {
				color: inherit !important;
				text-decoration: none;
			}
		}

		> .menu-button {
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			@include transition-property(opacity);
			@include transition-duration(0.25s);
			-webkit-tap-highlight-color: transparent;

			&.hidden {
				opacity: 0;
			}

			@include breakpoint($computer) {
				width: 48px;
				height: 48px;
				background-size: contain;
				background-image: url('/images/menu.svg');
				border-radius: 5px;
				opacity: 0.8;

				&:hover {
					opacity: 1;
				}
			}

			@include breakpoint($mobile) {
				width: 32px;
				height: 32px;
				background-size: contain;
				background-image: url('/images/menu.svg');
				opacity: 0.9;
			}
		}
	}

	> .content {
		@include flex(100 0 auto);
		@include display-flex;
		@include flex-direction(column);
		position: relative;
		width: 100%;  // Nedded for IE 11.
		@include transition-property(opacity);
		@include transition-delay(0.15s);
		@include transition-duration(0.50s);

		&.loading {
			opacity: 0;
		}

		> [data-content] {
			@include flex(100 0 auto);
		}

		// Import categories.
		@import 'home';
		@import 'default';

		// Import tools.
		@import 'anchor';
		@import 'api_toc';
	}

	> .footer {
		@include flex(0 0 auto);
		width: 100%;
		padding: 0.5rem 2rem;
		background-color: rgba(#fff, 0.065);
		border-top: 1px solid rgba(#fff, 0.1);
		font-size: 1rem;

		> .links {
			@include breakpoint($computer) {
				@include display-flex;
				@include flex-direction(row);
				@include justify-content(center);
			}

			> a {
				display: block;
				height: 2.5rem;
				line-height: 2.5rem;
				color: $color-text-3;
				text-align: center;
				text-decoration: none;
				border-bottom: 1px solid #000;
				@include transition-duration(0.2s);
				-webkit-tap-highlight-color: transparent;

				&:hover {
					color: $color-text-6;
					border-color: $color-highlight-dark;
				}

				@include breakpoint($computer) {
					margin: 0 1rem;
					width: 10rem;
				}
			}
		}

		> .copyright {
			height: 2.5rem;
			line-height: 2.5rem * 1.2;
			text-align: center;
			font-size: 0.8rem;
			color: $color-text-2;
		}
	}

	> .arrow-up {
		position: fixed;
		cursor: pointer;
		background-image: url('/images/arrow-up.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		// Hidden by default.
		z-index: -1;
		opacity: 0;
		@include transition-property(opacity);
		@include transition-duration(0.2s);
		-webkit-tap-highlight-color: transparent;

		&.visible {
			z-index: 5;
			opacity: 0.5;

			&:hover {
				opacity: 0.75;
			}
		}

		@include breakpoint($computer) {
			bottom: 2rem;
			right: 2rem;
			width: 50px;
			height: 50px;
		}

		@include breakpoint($mobile) {
			bottom: 16px;
			right: 16px;
			width: 32px;
			height: 32px;
		}
	}

	> .coming-soon {
		position: fixed;
		z-index: 200;
		width: 400px;
		@include transform(rotate(-45deg));
		color: rgba(#fff, 0.9);
		background-color: rgba(#f06a2a, 0.9);
		@include box-shadow(0px 0px 5px 0px rgba(#333, 0.6));
		text-align: center;

		@include breakpoint($computer) {
			bottom: 60px;
			right: -120px;
			font-size: 1rem;
			line-height: 2.2rem;
			@include transition-property(bottom, right);
			@include transition-delay(2s);
			@include transition-duration(.5s);

			&.loading {
				bottom: -120px;
				right: -300px;
			}
		}

		@include breakpoint($mobile) {
			bottom: 45px;
			right: -145px;
			font-size: 0.8rem;
			line-height: 1.8rem;
		}
	}
}
