@import 'compass/reset';
@import 'compass/css3/box-sizing';
@import 'compass/css3/images';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/box-shadow';
@import 'compass/css3/flexbox';
@import 'compass/utilities/general/clearfix';
@import 'compass/css3/user-interface';
@import 'compass/css3/filter';
@import 'breakpoint';

// Import fonts
@import 'fonts';

$computer: min-width 600px;
$mobile: max-width 600px;

$color-text-6: #f0f8ff;
$color-text-5: #ddd;
$color-text-4: #8f8f8f;
$color-text-3: #777;
$color-text-2: #666;
$color-text-1: #080808;
$color-highlight: #ccff66;
$color-highlight-dark: shade($color-highlight, 25%);

*
{
	@include box-sizing(border-box);

	&.fadein
	{
		opacity: 0;
	}
}

html
{
	height: 100%;
	// Default font size for common text
	font-size: 15px;
	font-family: 'Open Sans', Helvetica;
	font-weight: 400;

	@include background-image(linear-gradient(110deg, #000 0%, #222 30%,#060606 30%, #333 100%));
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	@include breakpoint($computer)
	{
		min-width: 950px;
	}
}

body
{
	min-height: 100%;
	@include display-flex;
	@include flex-direction(column);
	@include align-items(center);

	> .content
	{
		@include flex(100 0 auto);
		@include display-flex;
		@include flex-direction(column);
		position: relative;
		width: 100%;  // Nedded for IE 11.

		@import 'home';
	}

	> .footer
	{
		@include flex(0 0 auto);
		width: 100%;
		padding: 0.5rem 2rem;
		background-color: rgba(#fff, 0.02);
		border-top: 1px solid rgba(#fff, 0.1);
		font-size: 1rem;

		> .links
		{
			@include breakpoint($computer)
			{
				@include display-flex;
				@include flex-direction(row);
				@include justify-content(center);
			}

			> a
			{
				display: block;
				height: 2.5rem;
				line-height: 2.5rem;
				color: $color-text-3;
				text-align: center;
				text-decoration: none;
				border-bottom: 1px solid $color-text-1;
				@include transition-duration(0.2s);

				&:hover
				{
					color: $color-text-5;
					border-color: $color-highlight-dark;
				}

				@include breakpoint($computer)
				{
					margin: 0 1rem;
					width: 10rem;
				}
			}
		}

		> .copyright
		{
			height: 2.5rem;
			line-height: 2.5rem * 1.2;
			text-align: center;
			font-size: 0.8rem;
			color: $color-text-2;
		}
	}
}
