@import 'compass/reset';
@import 'compass/css3/box-sizing';
@import 'compass/css3/images';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/box-shadow';
@import 'compass/css3/flexbox';
@import 'compass/css3/user-interface';
@import 'compass/css3/filter';
@import 'breakpoint';

// Import fonts.
@import './fonts';
// Import my mixins.
@import './mixins';

$computer: min-width 900px;
$mobile: max-width 900px;
$mobile-landscape: max-height 450px;

$color-text-7: #f0f8ff;
$color-text-6: #ddd;
$color-text-5: #bbb;
$color-text-4: #999;
$color-text-3: #777;
$color-text-2: #666;
$color-text-1: #080808;
$color-highlight: #ccff66;
$color-highlight-dark: shade($color-highlight, 25%);


* {
	@include box-sizing(border-box);
}

html {
	height: 100%;
	// Default font size for common text.
	font-size: 16px;
	font-family: 'Open Sans', Helvetica;
	font-weight: 400;
	@include background-image(linear-gradient(110deg, #000 0%, #222 30%, #060606 30%, #333 100%));
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #191919;
}

body {
	min-height: 100%;
	// THis should not be needed, but IE does not takes all the height without it.
	height: 100%;
	@include display-flex;
	@include flex-direction(column);
	@include align-items(center);
	@include transition-property(opacity);
	@include transition-delay(0.15s);
	@include transition-duration(0.50s);

	@include breakpoint($computer) {
		&.loading {
			opacity: 0;
		}
	}

	@import 'menu';

	> .header {
		@include flex(0 0 auto);
		width: 100%;
		height: 64px;
		@include display-flex;
		@include flex-direction(row);
		@include justify-content(space-between);
		@include align-items(center);
		background-color: rgba(#fff, 0.04);
		border-bottom: 1px solid rgba(#fff, 0.1);
		font-size: 2.5rem;

		@include breakpoint($computer) {
			padding: 0 3.5rem;
		}

		@include breakpoint($mobile) {
			padding: 0 16px;
		}

		h1 {
			@include mediasoup-logo();

			a {
				color: inherit !important;
				text-decoration: none;
			}
		}

		> .fake-space {
			@include breakpoint($computer) {
				display: none;
			}

			@include breakpoint($mobile) {
				height: 32px;
				width: 32px;
			}
		}

		> .menu-button {
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			@include transition-property(opacity);
			@include transition-duration(0.25s);

			@include breakpoint($computer) {
				width: 48px;
				height: 48px;
				background-size: contain;
				background-image: url('/images/menu.svg');
				border-radius: 5px;
				// border: 1px solid rgba($color-highlight, 0.3);
				opacity: 0.8;

				&:hover {
					opacity: 1;
				}
			}

			@include breakpoint($mobile) {
				width: 32px;
				height: 32px;
				background-size: contain;
				background-image: url('/images/menu.svg');
				opacity: 0.9;
			}
		}
	}

	> .content {
		@include flex(100 0 auto);
		@include display-flex;
		@include flex-direction(column);
		position: relative;
		width: 100%;  // Nedded for IE 11.

		> [data-content] {
			@include flex(100 0 auto);
		}

		// Import categories.
		@import 'home';
		@import 'default';

		// Import tools.
		@import 'anchor';
		@import 'toc';
	}

	> .footer {
		@include flex(0 0 auto);
		width: 100%;
		padding: 0.5rem 2rem;
		background-color: rgba(#fff, 0.02);
		border-top: 1px solid rgba(#fff, 0.1);
		font-size: 1rem;

		> .links {
			@include breakpoint($computer) {
				@include display-flex;
				@include flex-direction(row);
				@include justify-content(center);
			}

			> a {
				display: block;
				height: 2.5rem;
				line-height: 2.5rem;
				color: $color-text-3;
				text-align: center;
				text-decoration: none;
				border-bottom: 1px solid $color-text-1;
				@include transition-duration(0.2s);

				&:hover {
					color: $color-text-6;
					border-color: $color-highlight-dark;
				}

				@include breakpoint($computer) {
					margin: 0 1rem;
					width: 10rem;
				}
			}
		}

		> .copyright {
			height: 2.5rem;
			line-height: 2.5rem * 1.2;
			text-align: center;
			font-size: 0.8rem;
			color: $color-text-2;
		}
	}

	> .arrow-up {
		position: fixed;
		z-index: 5;
		width: 50px;
		height: 50px;
		cursor: pointer;
		background-image: url('/images/arrow-up.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		opacity: 0;  // Hidden by default
		@include transition-duration(0.2s);

		&.visible {
			opacity: 0.2;

			&:hover {
				opacity: 0.7;
			}
		}

		@include breakpoint($computer) {
			bottom: 2rem;
			right: 2rem;
		}

		@include breakpoint($mobile) {
			bottom: 1rem;
			right: 1rem;
		}
	}
}
