<!DOCTYPE html>
<html lang="en">

	<head>
		{% if page.home %}
		<title>mediasoup</title>
		{% else %}
		<title>{{ page.title }} - mediasoup</title>
		{% endif %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="mediasoup - Powerful WebRTC SFU for Node.js">

		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="/css/mediasoup.css">

		<script src='/js/libs/fastclick/lib/fastclick.js'></script>
		<script src='/js/libs/hammerjs/hammer.js'></script>
		<script src='/js/libs/dontscrollthebody/dist/dontscrollthebody.js'></script>

		{% if page.anchors %}
		<script src='/js/libs/anchor-js/anchor.js'></script>
		{% endif %}

		{% if page.toc %}
		<script src='/js/toc.js'></script>
		{% endif %}

		<script src='/js/init.js'></script>
		<script async src='/js/piwik.js'></script>
	</head>

	<body>
		<!-- Hidden image to be displayed via Whatsapp, etc -->
		<img class="logo-mini" src="/images/favicon/android-icon-192x192.png" alt="">

		{% unless page.home %}
		{% include header.html %}
		{% endunless %}

		{% if page.home %}
		<div class="coming-soon loading">COMING SOON</div>
		{% endif %}

		{% include menu.html %}

		<div class="content loading">
			{% if page.home %}
			<div data-content="home">
				{{ content }}
			</div>
			{% else %}
			<div data-content="default">
				{{ content }}
			</div>
			{% endif %}
		</div>

		<div class="footer">
			<div class="links">
				<a href="/license/">License</a>
				<a href="https://github.com/ibc/mediasoup/">Github</a>
				<a href="/about/">About</a>
			</div>

			<p class="copyright">Copyright &copy; 2015, Iñaki Baz Castillo</p>
		</div>

		{% if page.arrow %}
		<div class="arrow-up"></div>
		{% endif %}

	</body>

</html>
