<!DOCTYPE html>
<html>

	<head>
		<title>{{ page.title }}</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width,initial-scale=1'>
		<!-- <link rel='apple-touch-icon' sizes='180x180' href='/images/apple-icon-180x180.png'> -->
		<!-- <link rel='icon' type='image/png' sizes='192x192' href='/images/android-icon-192x192.png'> -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans|Poiret+One' rel='stylesheet'>

		<script src='/bower_components/fastclick/lib/fastclick.js'></script>
		<script>
			window.addEventListener('load', function()
			{
				FastClick.attach(document.body);
			});
		</script>

		{% if page.home %}
		<link rel='stylesheet' href='/css/home.css'>
		{% else %}
		<link rel='stylesheet' href='/css/default.css'>
		<script src='/js/menu.js'></script>
		{% endif %}

		{% if page.code %}
		<script src='/bower_components/prism/prism.js'></script>
		<link rel='stylesheet' href='/bower_components/prism/themes/prism.css'>
		{% endif %}

		{% if page.anchors %}
		<script src='/bower_components/anchor-js/anchor.js'></script>
		<link rel='stylesheet' href='/css/anchor.css'>

		<script>
			window.addEventListener('load', function()
			{
				anchors.add('.content h2, .content h3, .content h4');
			});
		</script>
		{% endif %}

		{% if page.toc %}
		<script src='/js/toc.js'></script>
		{% endif %}
	</head>

	<body>
		{% if page.home != true %}
		<div class='top-bar'>
			<div class='wrapper'>
				<h1 class='four columns'>prot<span class='double-o'>oo</span><span class='menu-icon'></span></h1>

				<div class='item'>
					<a href='/'>Home</a>
				</div>

				<div class='item'>
					<a href='/overview/'>Overview</a>
				</div>

				<div class='item'>
					<a href='/documentation/'>Documentation</a>

					<div class='submenu'>
						<a href='/documentation/api/'>API</a>
					</div>
				</div>

				<div class='item'>
					<a href='/resources/'>Resources</a>
				</div>
			</div>
		</div>
		{% endif %}

		{% if page.home %}
		{{ content }}
		{% else %}
		<div class='content'>
			{{ content }}
		</div>
		{% endif %}

		<div class='footer'>
			<div class='links'>
				<a class='col1' href='https://github.com/ibc/protoo/blob/master/LICENSE'>License</a>
				<a class='col2' href='https://github.com/ibc/protoo/'>Source code</a>
				<a class='col3' href='https://github.com/ibc/protoo/issues'>Issue tracker</a>
			</div>

			<p class='copyright'>Copyright &copy; 2016, Iñaki Baz Castillo</p>
		</div>
	</body>

</html>
